<h1>About</h1>

<h3>Hey, i'am hashnil!</h3>
<p>hashnil is the nickname of a guy called <strong>Matheus Oliveira</strong>, student of <em>information systems</em>. Just learning some codes. Bye!</p>
<br>
<h3>About this site</h3>
<p>Simple blog with rails!
<br>Look the <a href="https://github.com/hashnil/blog-nil" target="_blank">Source Code</a>.</p>
<br>
<footer><div class="footer"> 
<a href="https://github.com/hashnil" target="_blank">GitHub</a>|
<a href="https://twitter.com/ohashniI" target="_blank">Twitter</a>|
<a href="https://linkedin.com/in/YOU" target="_blank">Linkedin</a>|
<a href="mailto:hashnil@hotmail.com" target="_blank">Email</a><br>
© 2022 - Hashnil. All rights reserved.</div></footer>

<style>
      .footer {
        bottom: 0;
        position: fixed;
        width: 90%;
        text-align: center;
        font-size: 12px;
        margin: 1px;
        
      }
</style>